body {
    animation: change-color 10s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: aquamarine;
    }
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(30deg, 20deg);
    }
}

.square {
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover {
    background-color: greenyellow;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: blue;
    transform: scale(1.5);
}

.click-div {
    text-align: center;
}

.click {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.click:hover {
    background-color: antiquewhite;
    transform: scale(2);

}

.loading {
    background-color: green;
    animation: stretch 6s 3 normal;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}

.circle {
    background-color: rgb(49, 190, 200);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 50px auto;
    animation:  4s linear 0s infinite alternate circle-rise;
}

@keyframes circle-rise {
    from {
        transform: translateY(110vh);
    }

    to {
        transform: translateY(0);
    }
}